<main class="grid grid-cols-1 gap-4 pt-10 md:grid-cols-2 lg:grid-cols-3">
  <div class="relative max-w-sm rounded-lg bg-secondary shadow">
    <button class="btn btn-circle btn-secondary btn-xs absolute right-2 top-2">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <button class="btn btn-neutral btn-xs absolute left-2 top-2">
      in 2 days
    </button>
    <a>
      <img
        class="rounded-t-lg"
        src="../../../../../assets/images/paris.jpeg"
        alt=""
      />
    </a>
    <div class="p-5">
      <a>
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-textp">
          Trip to paris
        </h5>
      </a>
      <p class="text-sm font-normal text-gray-500">
        <span>&bull; 17 jul - 20</span>
        <span class="ml-5">&bull; 5 places</span>
      </p>
    </div>
  </div>
  <div class="relative max-w-sm rounded-lg bg-secondary shadow">
    <button class="btn btn-circle btn-secondary btn-xs absolute right-2 top-2">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <button class="btn btn-neutral btn-xs absolute left-2 top-2">
      in 2 days
    </button>
    <a>
      <img
        class="rounded-t-lg"
        src="../../../../../assets/images/paris.jpeg"
        alt=""
      />
    </a>
    <div class="p-5">
      <a>
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-textp">
          Trip to paris
        </h5>
      </a>
      <p class="text-sm font-normal text-gray-500">
        <span>&bull; 17 jul - 20</span>
        <span class="ml-5">&bull; 5 places</span>
      </p>
    </div>
  </div>
  <div class="relative max-w-sm rounded-lg bg-secondary shadow">
    <button class="btn btn-circle btn-secondary btn-xs absolute right-2 top-2">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <button class="btn btn-neutral btn-xs absolute left-2 top-2">
      in 2 days
    </button>
    <a>
      <img
        class="rounded-t-lg"
        src="../../../../../assets/images/paris.jpeg"
        alt=""
      />
    </a>
    <div class="p-5">
      <a>
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-textp">
          Trip to paris
        </h5>
      </a>
      <p class="text-sm font-normal text-gray-500">
        <span>&bull; 17 jul - 20</span>
        <span class="ml-5">&bull; 5 places</span>
      </p>
    </div>
  </div>
  <div class="relative max-w-sm rounded-lg bg-secondary shadow">
    <button class="btn btn-circle btn-secondary btn-xs absolute right-2 top-2">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <button class="btn btn-neutral btn-xs absolute left-2 top-2">
      in 2 days
    </button>
    <a>
      <img
        class="rounded-t-lg"
        src="../../../../../assets/images/paris.jpeg"
        alt=""
      />
    </a>
    <div class="p-5">
      <a>
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-textp">
          Trip to paris
        </h5>
      </a>
      <p class="text-sm font-normal text-gray-500">
        <span>&bull; 17 jul - 20</span>
        <span class="ml-5">&bull; 5 places</span>
      </p>
    </div>
  </div>
</main>
