.slide-out {
    animation: slideOut 0.5s ease forwards;
  }
  
  @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }