swiper-container {
  width: 100%;
  height: 100%;
}
/* Style the previous button */
swiper-container::part(button-prev) {
  background-color: white;
  color: black;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

/* Style the next button */
swiper-container::part(button-next) {
  background-color: white;
  color: black;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
