<div class="mt-20"></div>
<section id="recent">
  <div class="container mx-auto flex w-3/4 items-center justify-center">
    <div class="flex w-full flex-col gap-5 py-14">
      <div class="flex items-center justify-between">
        <h1 class="text-3xl font-bold text-textp">
          Recently viewed and upcoming
        </h1>
        <button
          routerLink="/create/plan"
          class="btn btn-primary rounded-full text-textp"
        >
          <i class="fa-solid fa-plus"></i>Plan new trip
        </button>
      </div>
      <div class="flex flex-col">
        <a class="m-3 self-end font-semibold text-texts" routerLink="/profile"
          >See all</a
        >
        <div>
          <swiper-container navigation="true" class="mySwiper" init="true">
            <swiper-slide *ngFor="let upcomingTrip of upcomingTrips"
              ><div class="relative max-w-sm">
                <button
                  class="btn btn-circle btn-secondary btn-xs absolute right-2 top-2"
                >
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <button class="btn btn-neutral btn-xs absolute left-2 top-2">
                  {{ upcomingTrip.startDate | daysTo }}
                </button>
                <a (click)="navigateTo(upcomingTrip._id)">
                  <img
                    class="h-40 w-full rounded-lg"
                    src="{{ upcomingTrip.coverPhoto }}"
                    alt=""
                  />
                </a>
                <div class="pt-3">
                  <a (click)="navigateTo(upcomingTrip._id)">
                    <h5
                      class="mb-2 text-lg font-semibold tracking-tight text-textp"
                    >
                      {{ upcomingTrip.name }}
                    </h5>
                  </a>
                  <p class="text-sm font-normal text-texts">
                    <span
                      >&bull;
                      {{
                        [upcomingTrip.startDate, upcomingTrip.endDate]
                          | dateRange
                      }}</span
                    >
                    <span class="ml-5"
                      >&bull;{{
                        upcomingTrip.totalPlacesToVisit +
                          upcomingTrip.totalItineraryPlaces
                      }}
                      places</span
                    >
                  </p>
                </div>
              </div></swiper-slide
            >
            <swiper-slide *ngFor="let recentTrip of recentTrips"
              ><div class="relative max-w-sm">
                <button
                  class="btn btn-circle btn-secondary btn-xs absolute right-2 top-2"
                >
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <a (click)="navigateTo(recentTrip._id)">
                  <img
                    class="h-40 w-full rounded-lg"
                    src="{{ recentTrip.coverPhoto }}"
                    alt=""
                  />
                </a>
                <div class="pt-3">
                  <a (click)="navigateTo(recentTrip._id)">
                    <h5
                      class="mb-2 text-lg font-semibold tracking-tight text-textp"
                    >
                      {{ recentTrip.name }}
                    </h5>
                  </a>
                  <p class="text-sm font-normal text-texts">
                    <span
                      >&bull;
                      {{
                        [recentTrip.startDate, recentTrip.endDate] | dateRange
                      }}</span
                    >
                    <span class="ml-5"
                      >&bull;{{
                        recentTrip.totalPlacesToVisit +
                          recentTrip.totalItineraryPlaces
                      }}
                      places</span
                    >
                  </p>
                </div>
              </div></swiper-slide
            >
          </swiper-container>
        </div>
      </div>
    </div>
  </div>
</section>
