<div class="p-5">
  <div class="overflow-x-auto">
    <table class="table bg-secondary text-textp">
      <!-- head -->
      <thead>
        <tr>
          <th class="font-bold text-textp">N.O</th>
          <th class="font-bold text-textp">Name</th>
          <th class="font-bold text-textp">Email</th>
          <th class="font-bold text-textp">Username</th>
          <th class="font-bold text-textp">Mobile</th>
          <th class="font-bold text-textp">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>1</td>
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="../../../../assets/images/profile.png"
                    alt="Avatar"
                  />
                </div>
              </div>
              <div>
                <div class="font-medium">Hart Hagerty</div>
              </div>
            </div>
          </td>
          <td>ramzikm3@gmail.com</td>
          <td>ramzi</td>
          <td>8921637648</td>
          <th>
            <button
              class="btn btn-sm bg-red-600 text-gray-100 hover:bg-gray-200 hover:text-red-600"
            >
              <i class="fa-solid fa-ban"></i> Block
            </button>
            <button
              class="btn btn-sm bg-primary text-gray-100 hover:bg-gray-200 hover:text-primary"
            >
              <i class="fa-solid fa-unlock"></i> Unblock
            </button>
          </th>
        </tr>
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th>N.O</th>
          <th>Name</th>
          <th>Email</th>
          <th>Username</th>
          <th>Mobile</th>
          <th>Actions</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
