<div class="mt-20"></div>
<div *ngIf="editLoading">
  <div
    class="fixed inset-0 z-20 flex items-center justify-center rounded-lg bg-black bg-opacity-90 text-primary"
  >
    <span class="loading loading-infinity w-24"></span>
  </div>
</div>
<main>
  <div
    class="container mx-auto flex w-full flex-col items-center justify-center md:w-3/4"
  >
    <section id="recent" class="flex w-full flex-col gap-5 px-12 py-14">
      <div
        class="flex flex-col-reverse md:flex-row md:items-center md:justify-between"
      >
        <h1 class="mr-auto text-2xl font-bold text-textp lg:text-4xl">
          Upcoming Trips
        </h1>
        <button
          routerLink="/create/plan"
          class="btn btn-primary btn-xs mb-3 ml-auto rounded-full text-textp md:btn-md md:mb-0"
        >
          <i class="fa-solid fa-plus"></i>Plan new trip
        </button>
      </div>
      <div class="flex flex-col">
        <a class="m-3 self-end font-semibold text-texts" routerLink="/profile"
          >See all</a
        >

        <div class="relative">
          <div *ngIf="loading">
            <div
              class="absolute inset-0 flex items-center justify-center rounded-lg bg-black bg-opacity-90 text-primary"
            >
              <span class="loading loading-infinity w-24"></span>
            </div>
          </div>
          <div
            class="flex w-full items-center justify-center"
            *ngIf="!upcomingTrips[0]"
          >
            <img
              class="w-1/2 md:w-1/3"
              src="../../../../assets//images/noUpcomingTrips.jpeg"
            />
          </div>
          <swiper-container class="mySwiper">
            <swiper-slide *ngFor="let upcomingTrip of upcomingTrips"
              ><div class="relative max-w-sm">
                <!-- <button
                  class="btn btn-circle btn-secondary btn-xs absolute right-2 top-2"
                >
                  <i class="fa-solid fa-ellipsis"></i>
                </button> -->
                <button class="btn btn-neutral btn-xs absolute left-2 top-2">
                  {{ upcomingTrip.startDate! | daysTo }}
                </button>
                <a (click)="navigateTo(upcomingTrip._id!)">
                  <img
                    class="h-40 w-full rounded-lg object-cover"
                    src="{{ upcomingTrip.coverPhoto }}"
                    alt=""
                  />
                </a>
                <div class="pt-3">
                  <a (click)="navigateTo(upcomingTrip._id!)">
                    <h5
                      class="mb-2 text-lg font-semibold tracking-tight text-textp"
                    >
                      {{ upcomingTrip.name }}
                    </h5>
                  </a>
                  <p class="text-sm font-normal text-texts">
                    <span
                      >&bull;
                      {{
                        [upcomingTrip.startDate!, upcomingTrip.endDate!]
                          | dateRange
                      }}</span
                    >
                    <span class="ml-5"
                      >&bull;{{
                        upcomingTrip.totalPlacesToVisit! +
                          upcomingTrip.totalItineraryPlaces!
                      }}
                      places</span
                    >
                  </p>
                </div>
              </div></swiper-slide
            >
          </swiper-container>
        </div>
      </div>
    </section>

    <section
      class="my-4 grid w-full grid-cols-1 place-content-center gap-6 p-5 md:mb-20 md:grid-cols-2"
    >
      <div class="card bg-secondary shadow-xl">
        <div class="card-body">
          <div class="flex items-center justify-between">
            <h2 class="card-title text-2xl">Your trips</h2>
            <button
              routerLink="/create/plan"
              class="btn btn-xs rounded-full normal-case text-textp md:btn-sm"
            >
              <i class="fa-solid fa-plus"></i>Plan new trip
            </button>
          </div>

          <ul class="mb-4 mt-6 max-w-full divide-y divide-textg">
            <p *ngIf="!userTrips[0]" class="text-lg text-textp">
              You don't have any trips.<a
                class="text-blue-400"
                routerLink="/create/plan"
                >start planning</a
              >
            </p>
            <ng-container *ngFor="let trip of userTrips; let tripI = index">
              <li
                (click)="navigateTo(trip._id!)"
                *ngIf="tripI < 4"
                class="py-3 hover:cursor-pointer sm:py-4"
              >
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <img
                      class="h-20 w-20 rounded-md"
                      [src]="trip.coverPhoto"
                      [alt]="trip.name"
                    />
                  </div>
                  <div class="min-w-0 flex-1">
                    <p class="truncate text-lg font-medium text-textp">
                      {{ trip.name }}
                    </p>
                    <p class="truncate text-xs text-textg md:text-base">
                      <span
                        >&bull;
                        {{ [trip.startDate!, trip.endDate!] | dateRange }}</span
                      >
                      <span class="ml-5"
                        >&bull;{{
                          trip.totalPlacesToVisit! + trip.totalItineraryPlaces!
                        }}
                        places</span
                      >
                    </p>
                  </div>
                  <!-- <div
                  class="inline-flex items-center text-base font-semibold text-textp"
                >
                  $320
                </div> -->
                </div>
              </li>
            </ng-container>
          </ul>
          <a
            class="link-hover self-end font-semibold text-texts"
            routerLink="/profile"
            >See all</a
          >
        </div>
      </div>
      <div class="card bg-secondary shadow-xl">
        <div class="card-body">
          <div class="flex items-center justify-between">
            <h2 class="card-title text-2xl">Your guides</h2>
            <button
              routerLink="/create/guide"
              class="btn btn-xs rounded-full normal-case text-textp md:btn-sm"
            >
              <i class="fa-solid fa-plus"></i>Create new guide
            </button>
          </div>

          <ul class="mb-4 mt-6 max-w-full divide-y divide-textg">
            <p *ngIf="!userGuides[0]" class="text-lg text-textp">
              You don't have any guides.<a
                class="text-blue-400"
                routerLink="/create/guide"
                >start writing</a
              >
            </p>
            <ng-container *ngFor="let guide of userGuides; let guideI = index">
              <li
                (click)="navigateToGuide(guide._id!)"
                *ngIf="guideI < 4"
                class="py-3 hover:cursor-pointer sm:py-4"
              >
                <div class="flex items-center space-x-4">
                  <div class="flex-shrink-0">
                    <img
                      class="h-20 w-20 rounded-md"
                      [src]="guide.coverPhoto"
                      [alt]="guide.name"
                    />
                  </div>
                  <div class="min-w-0 flex-1">
                    <p class="truncate text-lg font-medium text-textp">
                      {{ guide.name }}
                    </p>
                    <p class="truncate text-base text-textg">
                      <i class="fa-regular fa-heart"></i>
                      {{ guide.likes!.length }}
                    </p>
                  </div>
                </div>
              </li>
            </ng-container>
          </ul>
          <a
            class="link-hover self-end font-semibold text-texts"
            routerLink="/profile/guides"
            >See all</a
          >
        </div>
      </div>
    </section>
  </div>
</main>
