<button
  *ngIf="!isDrawerOpen()"
  class="btn btn-primary fixed top-20 z-10 rounded-e-md rounded-s-none text-textp"
  (click)="drawer.toggle()"
>
  <i class="fa-solid fa-angles-right"></i>
</button>
<mat-sidenav-container autosize class="bg-base-100">
  <mat-sidenav
    style="background-color: var(--secondary-color)"
    mode="side"
    opened
    #drawer
    class="relative mt-20"
  >
    <button
      *ngIf="isDrawerOpen()"
      class="btn btn-secondary absolute bottom-0 z-10 w-auto rounded-e-md rounded-s-none text-textp"
      (click)="drawer.toggle()"
    >
      <i class="fa-solid fa-angles-left"></i>
      Hide sidebar
    </button>
    <mat-nav-list class="mb-12 space-y-2">
      <ul class="menu rounded-box">
        <li>
          <details open>
            <summary
              [ngClass]="
                activeSection === 'overview' ? 'btn-success' : 'btn-secondary'
              "
            >
              <a
                class="text-lg font-semibold"
                (click)="$event.stopPropagation()"
                (click)="scrollToSection(overview, 'overview')"
                >Overview</a
              >
            </summary>
            <ul class="text-textp">
              <li (click)="scrollToOverviewSections('explore')">
                <a>Explore</a>
              </li>
              <li (click)="scrollToOverviewSections('description')">
                <a>Description</a>
              </li>
              <li (click)="scrollToOverviewSections('notes')"><a>Notes</a></li>
              <li (click)="scrollToOverviewSections('ptv')">
                <a>Places to visit</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
      <ul class="menu rounded-box">
        <li>
          <details open>
            <summary
              [ngClass]="
                activeSection === 'itinerary' ? 'btn-success' : 'btn-secondary'
              "
            >
              <a
                class="text-lg font-semibold"
                (click)="scrollToSection(itinerary, 'itinerary')"
                >Itinerary</a
              >
            </summary>
            <ul class="text-textp" *ngIf="trip$ | async as trip">
              <li
                *ngFor="let item of trip.itinerary; let i = index"
                (click)="scrollToDynamicSection('' + i)"
              >
                <a>{{ item.Date | customDateFormat2 }}</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
      <ul class="menu rounded-box">
        <li>
          <details open>
            <summary
              [ngClass]="
                activeSection === 'budget' ? 'btn-success' : 'btn-secondary'
              "
            >
              <a
                class="text-lg font-semibold"
                (click)="scrollToSection(budget, 'budget')"
                >Budget</a
              >
            </summary>
            <ul class="text-textp">
              <li><a>View</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg-base-100">
    <div class="flex h-screen w-full">
      <div
        [ngClass]="isDrawerOpen() ? 'basis-[55%]' : 'basis-1/2'"
        class="mt-20 basis-1/2"
        *ngIf="trip$ | async as trip"
        #overview
      >
        <div class="relative h-2/5 w-full">
          <div *ngIf="coverPhotoLoading">
            <div
              class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-primary"
            >
              <span class="loading loading-spinner loading-lg"></span>
            </div>
          </div>
          <img
            src="{{ trip.coverPhoto }}"
            class="h-full w-full object-cover"
            alt=""
          />
          <input
            accept=".jpg,.jpeg,.png"
            type="file"
            #fileInput
            style="display: none"
            (change)="onFileSelected($event)"
          />
          <button
            type="button"
            class="btn btn-circle btn-info btn-sm absolute right-5 top-5"
            (click)="fileInput.click()"
          >
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>

        <div class="flex flex-col items-center">
          <ng-container *ngIf="user$ | async as user">
            <div class="card -mt-24 w-4/5 bg-secondary shadow-xl">
              <div class="card-body">
                <div class="flex">
                  <span
                    *ngIf="headingLoading"
                    class="loading loading-spinner loading-sm text-primary"
                  ></span>
                  <input
                    type="text"
                    [(ngModel)]="nameInput"
                    class="input card-title input-ghost w-full max-w-md text-ellipsis text-3xl text-textp"
                    (blur)="onHeadingBlur()"
                  />
                  <div class="dropdown dropdown-left ml-auto">
                    <label
                      tabindex="0"
                      class="btn btn-circle btn-ghost btn-sm m-1 text-textp"
                      ><i class="fa-solid fa-ellipsis"></i
                    ></label>
                    <ul
                      tabindex="0"
                      class="menu dropdown-content rounded-box z-[1] w-40 bg-base-100 p-2 text-textp shadow"
                    >
                      <li>
                        <a (click)="showViewTripmatesModal()"
                          ><i class="fa-solid fa-users"></i> Tripmates</a
                        >
                      </li>
                      <li>
                        <a (click)="showEditTripPrivacyModal()"
                          ><i class="fa-regular fa-eye"></i> Visibility</a
                        >
                      </li>
                      <li *ngIf="trip.admin?._id == user._id">
                        <a (click)="showDeleteTripModal()"
                          ><i class="fa-regular fa-trash-can"></i> Delete this
                          trip</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

                <!---------- view tripmates modal ------------->

                <dialog id="viewTripmatesModal" class="modal">
                  <div class="modal-box bg-secondary text-textp">
                    <form method="dialog">
                      <button
                        class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2"
                      >
                        ✕
                      </button>
                    </form>
                    <div class="p-3">
                      <h3 class="text-center text-2xl font-bold">Tripmates</h3>
                      <ul
                        class="my-2 max-h-80 w-full overflow-auto rounded-md border border-gray-300 bg-secondary shadow-lg shadow-base-100"
                      >
                        <li
                          *ngFor="
                            let tripmate of trip.tripMates;
                            let tripmateIndex = index
                          "
                          class="cursor-pointer border-b px-4 py-1 text-textp"
                        >
                          <div class="mr-3 flex items-center">
                            <label class="avatar">
                              <div class="h-10 w-10 rounded-full">
                                <img src="{{ tripmate.profilePic }}" />
                              </div>
                            </label>
                            <div class="ml-2">
                              <p>
                                {{ tripmate.username
                                }}<span *ngIf="tripmate._id == user._id"
                                  >(you)</span
                                >
                              </p>
                              <span class="text-sm text-texts">{{
                                tripmate.name
                              }}</span>
                            </div>
                            <div
                              *ngIf="trip.admin?._id == user._id"
                              class="ml-auto"
                            >
                              <label
                                (click)="
                                  removeTripMate(tripmateIndex, tripmate._id!)
                                "
                                *ngIf="trip.admin?._id !== tripmate._id"
                                class="btn btn-error btn-xs rounded-full bg-red-500 normal-case text-white"
                                >Remove</label
                              >
                              <span
                                *ngIf="
                                  removeTripmateLoading.value &&
                                  removeTripmateLoading.index == tripmateIndex
                                "
                                class="loading loading-spinner loading-xs ml-2 mt-1 text-primary"
                              ></span>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <button
                        *ngIf="trip.admin?._id !== user._id"
                        (click)="leaveTrip()"
                        class="btn btn-error w-full rounded-full"
                      >
                        Leave trip
                        <span
                          *ngIf="leaveTripLoading"
                          class="loading loading-spinner loading-xs ml-2 mt-1 text-white"
                        ></span>
                      </button>
                    </div>
                  </div>
                  <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                  </form>
                </dialog>

                <!---------- tripmates modal end------------->

                <!---------- delete trip modal ------------->
                <dialog id="deleteTripModal" class="modal">
                  <div
                    class="modal-box relative h-full w-full max-w-md bg-secondary p-4 md:h-auto"
                  >
                    <!-- Modal content -->
                    <div class="relative p-4 text-center sm:p-5">
                      <button
                        (click)="closeDeleteTripModal()"
                        type="button"
                        class="absolute right-2.5 top-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900"
                      >
                        <i class="fa-solid fa-xmark"></i>
                      </button>
                      <svg
                        class="mx-auto mb-3.5 h-11 w-11 text-gray-400 dark:text-gray-500"
                        aria-hidden="true"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                      <p class="mb-4 text-textp">
                        Are you sure you want to permanently delete "{{
                          trip.name
                        }}" ? This action is not reversible!
                      </p>
                      <div class="flex items-center justify-center space-x-4">
                        <button
                          (click)="closeDeleteTripModal()"
                          type="button"
                          class="btn btn-success btn-outline btn-sm"
                        >
                          No, cancel
                        </button>
                        <button
                          (click)="deleteTrip()"
                          type="submit"
                          class="btn btn-error btn-sm bg-red-600 text-white"
                        >
                          Yes, I'm sure
                          <span
                            *ngIf="deleteTripLoading"
                            class="loading loading-spinner loading-sm ml-2 text-white"
                          ></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </dialog>
                <!---------- delete trip modal end ------------->

                <!---------- edit trip visibility modal------------->

                <dialog id="editTripPrivacyModal" class="modal">
                  <form
                    class="modal-box bg-secondary text-textp"
                    [formGroup]="editTripPrivacyForm"
                    (ngSubmit)="changeTripPrivacy()"
                  >
                    <div class="my-4 text-center text-2xl font-semibold">
                      <p>Privacy</p>
                    </div>
                    <button
                      type="button"
                      (click)="closeEditTripPrivacyModal()"
                      class="btn btn-circle btn-ghost btn-sm absolute right-4 top-4"
                    >
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                    <div
                      *ngIf="editTripPrivacyErrorMessage"
                      class="alert alert-error mt-3 flex h-10"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6 shrink-0 stroke-current"
                        fill="none"
                        viewBox="0 0 24 24"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                      </svg>
                      <span>{{ editTripPrivacyErrorMessage }}</span>
                    </div>

                    <div class="form-control">
                      <label class="label cursor-pointer">
                        <span class="label-text text-lg font-semibold"
                          >Private<br /><span
                            class="text-sm font-medium text-textg"
                            >Only you and your tripmates can view</span
                          ></span
                        >
                        <input
                          type="radio"
                          formControlName="visibility"
                          class="radio checked:bg-red-500"
                          value="private"
                        />
                      </label>
                    </div>
                    <div class="form-control">
                      <label class="label cursor-pointer">
                        <span class="label-text text-lg font-semibold"
                          >Public<br /><span
                            class="text-sm font-medium text-textg"
                            >Anyone can view</span
                          ></span
                        >
                        <input
                          type="radio"
                          formControlName="visibility"
                          class="radio checked:bg-blue-500"
                          value="public"
                        />
                      </label>
                    </div>
                    <div class="form-control mt-6">
                      <button
                        [disabled]="editTripPrivacyForm.invalid"
                        type="submit"
                        class="btn btn-primary text-textp"
                      >
                        Save
                        <span
                          *ngIf="editPrivacyLoading"
                          class="loading loading-spinner loading-sm mb-1 ml-5 text-textp"
                        ></span>
                      </button>
                    </div>
                  </form>
                </dialog>

                <!---------- edit trip visibility modal end ------------->

                <div class="card-actions mt-8 justify-between">
                  <span class="text-texts">
                    <i class="fa-regular fa-calendar mr-2"></i>
                    {{ [trip.startDate!, trip.endDate!] | dateRange }}
                  </span>
                  <div class="flex">
                    <label
                      tabindex="0"
                      class="avatar tooltip mx-2"
                      [attr.data-tip]="
                        trip.admin?._id == user._id
                          ? 'Admin (you)'
                          : 'Admin (' + trip.admin?.name + ')'
                      "
                    >
                      <div class="w-8 rounded-full">
                        <img src="{{ trip.admin?.profilePic }}" />
                      </div>
                    </label>
                    <label
                      *ngIf="trip.admin?._id == user._id"
                      tabindex="0"
                      class="tooltip mx-2"
                      [attr.data-tip]="'add tripmate'"
                    >
                      <button
                        (click)="showAddTripmateModal()"
                        class="btn btn-circle btn-ghost btn-sm text-textp"
                      >
                        <i class="fa-solid fa-user-plus"></i>
                      </button>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <dialog id="addTripmateModal" class="modal">
            <div class="modal-box bg-secondary text-textp">
              <form method="dialog">
                <button
                  class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2"
                >
                  ✕
                </button>
              </form>
              <form class="p-3">
                <label
                  for="default-search"
                  class="sr-only mb-2 text-sm font-medium"
                  >Search</label
                >
                <div class="relative">
                  <div
                    class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
                  >
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </div>
                  <input
                    [formControl]="userSearchControl"
                    type="search"
                    id="default-search"
                    class="block w-full rounded-lg border border-gray-300 bg-base-100 p-4 pl-10 text-sm focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Search user"
                    required
                  />
                </div>
                <ul
                  *ngIf="userSearchResults.length > 0"
                  class="my-2 w-full rounded-md border border-gray-300 bg-secondary shadow-lg shadow-base-100"
                >
                  <li
                    *ngFor="
                      let user of userSearchResults;
                      let userIndex = index
                    "
                    class="cursor-pointer border-b px-4 py-1 text-textp"
                  >
                    <div class="mr-3 flex items-center">
                      <label class="avatar">
                        <div class="h-10 w-10 rounded-full">
                          <img src="{{ user.profilePic }}" />
                        </div>
                      </label>
                      <div class="ml-2">
                        <p>{{ user.username }}</p>
                        <span class="text-sm text-texts">{{ user.name }}</span>
                      </div>
                      <div class="ml-auto">
                        <!-- <label class="text-green-500">Invited</label> -->
                        <label
                          *ngIf="
                            !trip.invitedTripMates?.includes(user._id!) &&
                            !user.member
                          "
                          (click)="inviteTripmate(userIndex, user._id!)"
                          class="link-hover text-red-500"
                          >Invite</label
                        >
                        <span
                          *ngIf="
                            inviteTripmateLoading.value &&
                            inviteTripmateLoading.index == userIndex
                          "
                          class="loading loading-spinner loading-xs ml-2 mt-1 text-primary"
                        ></span>
                        <label
                          *ngIf="trip.invitedTripMates?.includes(user._id!)"
                          class="text-green-600"
                          >Invited</label
                        >
                        <label *ngIf="user.member" class="text-gray-400"
                          >Member</label
                        >
                      </div>
                    </div>
                  </li>
                </ul>
              </form>
            </div>
            <form method="dialog" class="modal-backdrop">
              <button>close</button>
            </form>
          </dialog>
          <div class="my-16 flex w-full flex-col items-center justify-center">
            <div class="w-full">
              <app-overview
                (accordionClicked)="onAccordionClicked($event)"
                [trip]="trip"
              ></app-overview>
            </div>
            <div class="divider bg-secondary"></div>

            <div #itinerary class="w-full scroll-m-20">
              <app-itinerary
                (accordionClicked)="onAccordionClicked2($event)"
                [trip]="trip"
              ></app-itinerary>
            </div>
            <div class="divider bg-secondary"></div>
            <div #budget class="w-full scroll-m-20">
              <app-budget [trip]="trip"></app-budget>
            </div>
          </div>
        </div>
      </div>
      <div
        id="map"
        [ngClass]="isDrawerOpen() ? 'w-[41%]' : 'w-1/2'"
        class="fixed bottom-0 right-0 top-20 w-1/2"
      ></div>
      <button
        class="btn btn-circle btn-lg fixed bottom-14 right-14 bg-black text-2xl text-white"
        onclick="chatModal.showModal()"
      >
        <i class="fa-solid fa-message"></i>
      </button>
      <dialog id="chatModal" class="modal modal-top md:modal-middle">
        <div class="modal-box bg-secondary text-textp">
          <form method="dialog">
            <button
              class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2"
            >
              ✕
            </button>
          </form>
          <div>
            <app-group-chat
              [user]="user$ | async"
              [trip]="trip"
            ></app-group-chat>
          </div>
        </div>
      </dialog>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
