<button
  *ngIf="isDrawerOpen()"
  class="btn btn-secondary fixed bottom-0 z-10 rounded-e-md rounded-s-none pr-6 text-textp"
  (click)="drawer.toggle()"
>
  <i class="fa-solid fa-angles-left"></i>
  Hide sidebar
</button>
<button
  *ngIf="!isDrawerOpen()"
  class="btn btn-primary fixed top-20 z-10 rounded-e-md rounded-s-none text-textp"
  (click)="drawer.toggle()"
>
  <i class="fa-solid fa-angles-right"></i>
</button>
<mat-sidenav-container autosize class="bg-base-100">
  <mat-sidenav
    style="background-color: var(--secondary-color)"
    mode="side"
    opened
    #drawer
    class="mt-20"
  >
    <mat-nav-list class="space-y-2">
      <ul class="menu rounded-box">
        <li>
          <details open>
            <summary
              [ngClass]="
                activeSection === 'overview' ? 'btn-success' : 'btn-secondary'
              "
            >
              <a
                class="text-lg font-semibold"
                (click)="$event.stopPropagation()"
                (click)="scrollToSection(overview, 'overview')"
                >Overview</a
              >
            </summary>
            <ul class="text-textp">
              <li (click)="scrollToOverviewSections('explore')">
                <a>Explore</a>
              </li>
              <li (click)="scrollToOverviewSections('description')">
                <a>Description</a>
              </li>
              <li (click)="scrollToOverviewSections('notes')"><a>Notes</a></li>
              <li (click)="scrollToOverviewSections('ptv')">
                <a>Places to visit</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
      <ul class="menu rounded-box">
        <li>
          <details open>
            <summary
              [ngClass]="
                activeSection === 'itinerary' ? 'btn-success' : 'btn-secondary'
              "
            >
              <a
                class="text-lg font-semibold"
                (click)="scrollToSection(itinerary, 'itinerary')"
                >Itinerary</a
              >
            </summary>
            <ul class="text-textp" *ngIf="trip$ | async as trip">
              <li
                *ngFor="let item of trip.itinerary; let i = index"
                (click)="scrollToDynamicSection('' + i)"
              >
                <a>{{ item.Date | date }}</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
      <ul class="menu rounded-box">
        <li>
          <details open>
            <summary
              [ngClass]="
                activeSection === 'budget' ? 'btn-success' : 'btn-secondary'
              "
            >
              <a
                class="text-lg font-semibold"
                (click)="scrollToSection(budget, 'budget')"
                >Budget</a
              >
            </summary>
            <ul class="text-textp">
              <li><a>view</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="bg-base-100">
    <div class="flex h-screen w-full">
      <div
        [ngClass]="isDrawerOpen() ? 'basis-[55%]' : 'basis-1/2'"
        class="mt-20 basis-1/2"
        *ngIf="trip$ | async as trip"
        #overview
      >
        <div class="relative h-2/5 w-full">
          <div *ngIf="coverPhotoLoading">
            <div
              class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 text-primary"
            >
              <span class="loading loading-spinner loading-lg"></span>
            </div>
          </div>
          <img
            src="{{ trip.coverPhoto }}"
            class="h-full w-full object-cover"
            alt=""
          />
          <input
            accept=".jpg,.jpeg,.png"
            type="file"
            #fileInput
            style="display: none"
            (change)="onFileSelected($event)"
          />
          <button
            type="button"
            class="btn btn-circle btn-info btn-sm absolute right-5 top-5"
            (click)="fileInput.click()"
          >
            <i class="fa-solid fa-pen"></i>
          </button>
        </div>

        <div class="flex flex-col items-center">
          <div class="card -mt-24 w-4/5 bg-secondary shadow-xl">
            <div class="card-body">
              <div class="flex">
                <span
                  *ngIf="headingLoading"
                  class="loading loading-spinner loading-sm text-primary"
                ></span>
                <input
                  type="text"
                  [(ngModel)]="nameInput"
                  class="input card-title input-ghost w-full max-w-md text-ellipsis text-3xl text-textp"
                  (focus)="onHeadingFocus()"
                  (blur)="onHeadingBlur()"
                />
              </div>

              <div class="card-actions mt-8 justify-between">
                <span class="text-texts">
                  <i class="fa-regular fa-calendar mr-2"></i>
                  {{ [trip.startDate!, trip.endDate!] | dateRange }}
                </span>
                <div class="flex">
                  <label
                    tabindex="0"
                    class="avatar tooltip mx-2"
                    [attr.data-tip]="trip.userId?.name"
                  >
                    <div class="w-8 rounded-full">
                      <img src="{{ trip.userId?.profilePic }}" />
                    </div>
                  </label>
                  <button class="text-textp">
                    <i class="fa-solid fa-user-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="my-16 flex w-full flex-col items-center justify-center">
            <div class="w-full">
              <app-overview
                (accordionClicked)="onAccordionClicked($event)"
                [trip]="trip"
              ></app-overview>
            </div>
            <div class="divider bg-secondary"></div>

            <div #itinerary class="w-full scroll-m-20">
              <app-itinerary [trip]="trip"></app-itinerary>
            </div>
            <div class="divider bg-secondary"></div>
            <div #budget class="w-full scroll-m-20">
              <app-budget [trip]="trip"></app-budget>
            </div>
          </div>
        </div>
      </div>
      <div
        id="map"
        [ngClass]="isDrawerOpen() ? 'w-[41%]' : 'w-1/2'"
        class="fixed bottom-0 right-0 top-20 w-1/2"
      ></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
