<div class="mb-20 mt-20">
  <main class="flex justify-center pt-10 md:pt-20">
    <section
      id="login"
      class="w-3/4 rounded-lg bg-secondary py-10 shadow-[0px_5px_15px_-3px_rgba(3,175,2,0.2)]"
    >
      <div class="flex w-full flex-col md:flex-row">
        <div class="ml-14 hidden flex-col md:flex">
          <img
            class="grow"
            src="../../../../assets/images/Journey-amico.png"
            alt="hello how are you, i am under the water"
          />
          <a
            class="link mb-5 self-center text-textp hover:text-blue-500"
            routerLink="/signup"
            >Create an account</a
          >
        </div>
        <div class="flex min-w-[50%] items-center justify-center">
          <div class="flex min-w-[65%] flex-col">
            <h1 class="p-3 text-center text-4xl font-bold text-textp">Login</h1>
            <form
              [formGroup]="loginForm"
              (ngSubmit)="submitForm()"
              class="signupForm"
            >
              <div class="min-w-[75%]">
                <div
                  class="alert alert-error mt-3 flex h-10"
                  *ngIf="errMessage"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 shrink-0 stroke-current"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                  <span>{{ errMessage }}</span>
                </div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text font-medium">Username</span>
                  </label>
                  <input
                    type="text"
                    placeholder="username or email"
                    class="input input-bordered"
                    name="email"
                    formControlName="username"
                  />
                  <div
                    class="text-sm text-red-500"
                    *ngIf="fc['username'].touched && fc['username'].invalid"
                  >
                    <label *ngIf="fc['username'].errors?.['required']"
                      >username is required
                    </label>
                    <label *ngIf="fc['username'].errors?.['noSpaceValidator']"
                      >username will not contain empty spaces</label
                    ><label
                      *ngIf="
                        fc['username'].errors?.['minlength'] &&
                        !fc['username'].errors?.['noSpaceValidator']
                      "
                      >username will be atleast five characters</label
                    >
                  </div>
                </div>

                <div class="form-control">
                  <label class="label">
                    <span class="label-text font-medium">Password</span>
                  </label>
                  <input
                    type="password"
                    placeholder="password"
                    class="input input-bordered"
                    name="password"
                    formControlName="password"
                  />
                  <div
                    class="text-sm text-red-500"
                    *ngIf="fc['password'].touched && fc['password'].invalid"
                  >
                    <label *ngIf="fc['password'].errors?.['required']"
                      >password is required
                    </label>
                    <label *ngIf="fc['password'].errors?.['noSpaceValidator']"
                      >password will not contain empty spaces</label
                    ><label
                      *ngIf="
                        fc['password'].errors?.['minlength'] &&
                        !fc['password'].errors?.['noSpaceValidator']
                      "
                      >password will be atleast six characters</label
                    >
                  </div>
                  <label class="label">
                    <a
                      (click)="showEmailModal()"
                      class="link-hover link label-text-alt"
                      >Forgot password?</a
                    >
                  </label>
                </div>

                <div class="form-control mt-3 md:hidden">
                  <a
                    class="link self-center text-textp hover:text-blue-500"
                    routerLink="/signup"
                    >Create an account</a
                  >
                </div>
                <div class="form-control mt-6">
                  <button
                    type="submit"
                    [disabled]="loginForm.invalid"
                    class="btn btn-primary text-textp"
                  >
                    Login
                    <span
                      *ngIf="loading"
                      class="loading loading-spinner loading-sm mb-1 ml-5 text-textp"
                    ></span>
                  </button>
                </div>
                <div class="divider">OR</div>

                <div class="form-control mt-6 flex items-center justify-center">
                  <!-- <button
                    type="button"
                    class="btn btn-success btn-outline text-textp"
                    (click)="onGoogleLogin()"
                  >
                    <img
                      src="../../../../assets/images/google-logo-6278331_640.png"
                      alt=""
                      width="25px"
                    />Login with google
                  </button> -->
                  <asl-google-signin-button
                    shape="circle"
                    type="standard"
                    size="large"
                    theme="filled_blue"
                  >
                  </asl-google-signin-button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <dialog id="inputEmailModal" class="modal">
      <form
        [formGroup]="emailForm"
        (ngSubmit)="submitEmail()"
        class="modal-box"
      >
        <div class="m-0 flex justify-end">
          <a
            (click)="closeEmailModal()"
            class="btn btn-circle btn-ghost btn-sm absolute right-2 top-2"
          >
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <h3 class="text-center text-3xl font-bold text-textp">
          Reset password
        </h3>
        <div class="mt-6 w-full space-y-3 text-textp">
          <div class="alert alert-error mt-3 flex h-10" *ngIf="emailErrMessage">
            {{ emailErrMessage }}
          </div>
          <input
            type="text"
            placeholder="input your email address"
            class="input input-bordered w-full text-textp"
            formControlName="email"
          />
          <div
            class="text-sm text-red-500"
            *ngIf="emailFc['email'].touched && emailFc['email'].invalid"
          >
            <label *ngIf="emailFc['email'].errors?.['required']"
              >email is required
            </label>
            <label *ngIf="emailFc['email'].errors?.['email']"
              >invalid email
            </label>
          </div>
        </div>
        <div class="modal-action justify-center text-textp">
          <button
            type="submit"
            [disabled]="emailForm.invalid"
            class="btn btn-primary btn-sm"
          >
            submit
            <span
              *ngIf="emailSubmitLoading"
              class="loading loading-spinner loading-sm mb-1 ml-5 text-textp"
            ></span>
          </button>
        </div>
      </form>
    </dialog>
    <dialog id="otpModal" class="modal">
      <form [formGroup]="otpForm" (ngSubmit)="submitOtp()" class="modal-box">
        <div class="flex flex-col items-center justify-center">
          <div class="text-3xl font-semibold">
            <p>Otp Verification</p>
          </div>
          <div class="flex flex-row text-sm font-medium text-gray-400">
            <p>We have sent a code to your email</p>
          </div>
        </div>
        <div class="m-6 flex flex-row justify-center">
          <div class="mb-2">
            <div class="flex items-center justify-center">
              <label class="text-lg text-red-500">{{ otpErrMessage }}</label>
            </div>
            <input
              class="flex w-full flex-col items-center justify-center rounded-xl border border-gray-200 bg-secondary px-5 text-center text-lg text-textp outline-none ring-primary focus:ring-1"
              type="text"
              maxlength="6"
              minlength="6"
              formControlName="otp"
              required
            />

            <div
              class="text-sm text-red-500"
              *ngIf="otpFc['otp'].touched && otpFc['otp'].invalid"
            >
              <label *ngIf="otpFc['otp'].errors?.['required']"
                >otp is required
              </label>
              <label
                *ngIf="
                  otpFc['otp'].errors?.['minlength'] ||
                  otpFc['otp'].errors?.['maxlength'] ||
                  otpFc['otp'].errors?.['pattern']
                "
                >otp must be 6 numbers
              </label>
            </div>
          </div>
        </div>
        <div class="modal-action justify-center text-textp">
          <button
            type="submit"
            [disabled]="otpForm.invalid"
            class="btn btn-primary btn-sm"
          >
            submit
            <span
              *ngIf="otpSubmitLoading"
              class="loading loading-spinner loading-sm mb-1 ml-5 text-textp"
            ></span>
          </button>
        </div>
      </form>
    </dialog>
  </main>
</div>
