<div class="mx-auto w-full p-4 md:p-6">
  <div *ngIf="loading">
    <div
      class="fixed inset-0 flex items-center justify-center rounded-lg bg-black bg-opacity-70 text-primary"
    >
      <span class="loading loading-infinity w-24"></span>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4">
    <!-- Card Item1 Start -->
    <div class="px-7.5 shadow-default rounded-lg border bg-secondary py-6">
      <div class="flex flex-row items-center justify-between p-3">
        <div class="text-5xl">
          <button class="btn btn-circle btn-lg">
            <i class="fa-solid fa-users text-4xl"></i>
          </button>
        </div>
        <div class="text-center">
          <h3 class="text-lg font-bold uppercase text-textg">Total users</h3>
          <span class="text-3xl font-medium">{{ totalUsers }}</span>
        </div>
      </div>
    </div>
    <!-- Card Item1 End -->

    <!-- Card Item2 Start -->
    <div class="px-7.5 shadow-default rounded-lg border bg-secondary py-6">
      <div class="flex flex-row items-center justify-between p-3">
        <div class="text-5xl">
          <button class="btn btn-circle btn-lg">
            <i class="fa-solid fa-map-location-dot text-4xl text-primary"></i>
          </button>
        </div>
        <div class="text-center">
          <h3 class="text-lg font-bold uppercase text-textg">Total trips</h3>
          <span class="text-3xl font-medium">{{ totalTrips }}</span>
        </div>
      </div>
    </div>
    <!-- Card Item2 End -->

    <!-- Card Item3 Start -->
    <div class="px-7.5 shadow-default rounded-lg border bg-secondary py-6">
      <div class="flex flex-row items-center justify-between p-3">
        <div class="text-5xl">
          <button class="btn btn-circle btn-lg">
            <i class="fa-solid fa-compass text-5xl text-blue-500"></i>
          </button>
        </div>
        <div class="text-center">
          <h3 class="text-lg font-bold uppercase text-textg">Total guides</h3>
          <span class="text-3xl font-medium">{{ totalGuides }}</span>
        </div>
      </div>
    </div>
    <!-- Card Item3 End -->

    <!-- Card Item4 Start -->
    <div class="px-7.5 shadow-default rounded-lg border bg-secondary py-6">
      <div class="flex flex-row items-center justify-between p-3">
        <div class="text-5xl">
          <button class="btn btn-circle btn-lg">
            <i class="fa-solid fa-users text-4xl text-red-500"></i>
          </button>
        </div>
        <div class="text-center">
          <h3 class="text-lg font-bold uppercase text-textg">
            unverified users
          </h3>
          <span class="text-3xl font-medium">{{ totalUnvervifiedUsers }}</span>
        </div>
      </div>
    </div>
    <!-- Card Item4 End -->
  </div>

  <div class="mt-4 grid grid-cols-12 gap-4 md:mt-6 md:gap-6">
    <!-- ====== Chart One Start -->
    <div
      class="pt-7.5 shadow-default sm:px-7.5 col-span-12 rounded-md border bg-secondary px-5 pb-5 xl:col-span-12"
    >
      <div class="p-2">
        <h4 class="text-xl font-medium text-textp">Monthly new users</h4>
      </div>
      <apx-chart
        [series]="usersChartOptions.series!"
        [chart]="usersChartOptions.chart!"
        [xaxis]="usersChartOptions.xaxis!"
      ></apx-chart>
    </div>

    <!-- ====== Chart One End -->

    <!-- ====== Chart Two Start -->
    <!-- <div
      class="p-7.5 shadow-default col-span-12 rounded-md border bg-secondary xl:col-span-4"
    >
        <div class="p-2">
        <h4 class="text-xl font-medium text-textp">Expense breakdown</h4>
      </div>
      <div class="flex items-center justify-center w-full h-full">
        <apx-chart
          [series]="expensesChartOptions.series2!"
          [chart]="expensesChartOptions.chart!"
          [labels]="expensesChartOptions.labels"
          [responsive]="expensesChartOptions.responsive!"
        ></apx-chart>
      </div></div> -->

    <!-- ====== Chart Two End -->

    <!-- ====== Chart Three Start -->
    <div
      class="pt-7.5 shadow-default sm:px-7.5 col-span-12 rounded-md border bg-secondary px-5 pb-5 xl:col-span-5"
    >
      <div class="p-2">
        <h4 class="text-xl font-medium text-textp">Expense breakdown</h4>
      </div>
      <div class="flex h-full w-full items-center justify-center">
        <apx-chart
          [series]="expensesChartOptions.series2!"
          [chart]="expensesChartOptions.chart!"
          [labels]="expensesChartOptions.labels"
          [responsive]="expensesChartOptions.responsive!"
        ></apx-chart>
      </div>
    </div>

    <!-- ====== Chart Three End -->

    <!-- ====== Map One Start -->
    <div
      class="px-7.5 shadow-default col-span-12 rounded-lg border bg-secondary xl:col-span-7"
    >
      <div class="p-2">
        <h4 class="text-xl font-medium text-textp">Popular destinations</h4>
      </div>
      <div class="p-3">
        <apx-chart
          [series]="destinationsChartOptions.series!"
          [chart]="destinationsChartOptions.chart!"
          [dataLabels]="destinationsChartOptions.dataLabels!"
          [plotOptions]="destinationsChartOptions.plotOptions!"
          [legend]="destinationsChartOptions.legend!"
        ></apx-chart>
      </div>
    </div>

    <!-- ====== Map One End -->
  </div>
</div>
