<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <img
          src="../../../../assets/images/mainLogo-removebg-preview.png"
          width="400px"
        />
        <h1 class="text-4xl font-bold">Admin Panel</h1>
      </div>
      <div class="card w-full max-w-sm flex-shrink-0 bg-base-100 shadow-2xl">
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <div class="alert alert-error mt-3 flex h-10" *ngIf="errMessage">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>{{ errMessage }}</span>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Email</span>
              </label>
              <input
                type="email"
                placeholder="email"
                class="input input-bordered"
                name="email"
                formControlName="email"
              />
              <div
                class="text-sm text-red-500"
                *ngIf="fc['email'].touched && fc['email'].invalid"
              >
                <label *ngIf="fc['email'].errors?.['required']"
                  >email is required
                </label>
                <label *ngIf="fc['email'].errors?.['email']"
                  >not a valid email</label
                >
              </div>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label>
              <input
                type="password"
                placeholder="password"
                class="input input-bordered"
                name="password"
                formControlName="password"
              />
              <div
                class="text-sm text-red-500"
                *ngIf="fc['password'].touched && fc['password'].invalid"
              >
                <label *ngIf="fc['password'].errors?.['required']"
                  >password is required
                </label>
                <label *ngIf="fc['password'].errors?.['noSpaceValidator']"
                  >password will not contain empty spaces</label
                ><label
                  *ngIf="
                    fc['password'].errors?.['minlength'] &&
                    !fc['password'].errors?.['noSpaceValidator']
                  "
                  >password will be atleast six characters</label
                >
              </div>
            </div>
            <div class="form-control mt-6">
              <button
                type="submit"
                [disabled]="loginForm.invalid"
                class="btn btn-primary"
              >
                Login<span
                  *ngIf="loading"
                  class="loading loading-spinner loading-sm mb-1 ml-5 text-textp"
                ></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
