<div *ngIf="loading">
  <div
    class="absolute inset-0 flex items-center justify-center rounded-lg bg-black bg-opacity-90 text-primary"
  >
    <span class="loading loading-infinity w-24"></span>
  </div>
</div>
<div *ngIf="!guides[0]" class="flex w-full flex-col items-center">
  <img
    class="w-1/2 md:w-1/3"
    src="../../../../../assets/images/noTrips-removebg.png"
  />
  <h1 class="text-center text-lg text-textp">
    We don't have any guides yet for {{ place?.name }}.
  </h1>
</div>
<swiper-container class="mySwiper2">
  <swiper-slide *ngFor="let guide of guides; let guideIndex = index"
    ><div
      routerLink="/guide/view/{{ guide._id }}"
      class="card card-compact justify-between bg-secondary shadow-xl hover:cursor-pointer hover:shadow-gray-700"
    >
      <figure class="h-40">
        <img
          class="h-full w-full object-cover"
          [src]="guide.coverPhoto"
          alt="cover"
        />
      </figure>
      <div class="card-body flex flex-col justify-between">
        <h2 class="card-title line-clamp-1">{{ guide.name }}</h2>
        <p class="line-clamp-2 text-textg">
          {{ guide.writersRelation }}
        </p>
        <div class="card-actions items-center justify-between">
          <div class="flex items-center space-x-2">
            <div class="avatar">
              <div class="w-6 rounded-full">
                <img [src]="guide.writer?.profilePic" />
              </div>
            </div>
            <p class="w-24 truncate">
              {{ guide.writer?.username }}
            </p>
          </div>
          <div><i class="fa-regular fa-heart"></i> {{ guide.likesCount }}</div>
        </div>
      </div>
    </div></swiper-slide
  >
</swiper-container>
