/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// regular style toast
@import "ngx-toastr/toastr";

:root {
  --primary-color: #03af48;
  --secondary-color: #ffffff;
  --accent-color: #1d7643;
  --textP-color: #000000;
  --textS-color: #400000;
  --textG-color: #6c757d;
  --bg-color: #e6e6e6;
}
[data-theme="dark"] {
  /* Primary color for dark mode */
  --primary-color: #03af48;
  --secondary-color: #222222;
  --accent-color: #1d7643;
  --textP-color: #ffffff;
  --textS-color: #f5f5dc;
  --textG-color: #6c757d;
  --bg-color: #263238;
}

html,
body {
  height: 100%;
}
body {
  background-color: var(--bg-color);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
