<main class="grid grid-cols-1 gap-4 pt-10 md:grid-cols-2 lg:grid-cols-3">
  <div class="relative max-w-sm">
    <button class="btn btn-circle btn-secondary btn-xs absolute right-2 top-2">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <a>
      <img
        class="h-40 w-full rounded-lg"
        src="../../../../../assets/images/paris.jpeg"
        alt=""
      />
    </a>
    <div class="pt-3 p-1">
      <a>
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-textp">
          Trip to paris
        </h5>
      </a>
      <p class="font-semibold text-textp -mt-2 pl-1">
        <span><i class="fa-regular fa-heart"></i></span> 0
      </p>
    </div>
  </div>
</main>
