<main class="grid grid-cols-1 gap-4 pt-10 md:grid-cols-2 lg:grid-cols-3">
  <div class="relative max-w-sm rounded-lg bg-secondary shadow">
    <button class="btn btn-circle btn-secondary btn-xs absolute right-2 top-2">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <a>
      <img
        class="rounded-t-lg"
        src="../../../../../assets/images/paris.jpeg"
        alt=""
      />
    </a>
    <div class="p-5">
      <a>
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-textp">
          Trip to paris
        </h5>
      </a>
      <p class="font-semibold text-textp">
        <span><i class="fa-regular fa-heart"></i></span> 0
      </p>
    </div>
  </div>
</main>
