<p>user-management works!</p>
<div class="p-5">
    <div class="mx-1 my-4">
      <label
        for="default-search"
        class="sr-only mb-2 text-sm font-medium text-textg"
        >Search</label
      >
      <div class="relative">
        <div
          class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
        >
          <svg
            class="h-4 w-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="text"
          id="default-search"
          class="block w-full rounded-lg border border-textg bg-secondary p-4 pl-10 text-sm text-textp focus:border-blue-500 focus:ring-blue-500"
          placeholder="Search username, email..."
          [(ngModel)]="searchText"
        />
        <button
          type="submit"
          class="absolute bottom-2.5 right-2.5 rounded-lg bg-blue-700 px-4 py-2 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300"
        >
          Search
        </button>
      </div>
    </div>
  
    <div class="overflow-x-auto rounded-xl">
      <table class="table border border-textg bg-secondary text-textp">
        <!-- head -->
        <thead>
          <tr>
            <th class="font-bold text-textp">N.O</th>
            <th class="font-bold text-textp">Name</th>
            <th class="font-bold text-textp">Email</th>
            <th class="font-bold text-textp">Username</th>
            <th class="font-bold text-textp">Mobile</th>
            <th class="font-bold text-textp">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users$ | async; let i = index">
          <!-- row 1 -->
          <tr
            *ngIf="
              searchText.trim() == '' ||
              user.name?.toLocaleLowerCase()?.includes(searchText.trim()) ||
              user.email?.toLocaleLowerCase()?.includes(searchText.trim()) ||
              user.username?.toLocaleLowerCase()?.includes(searchText.trim()) ||
              user.mobile?.toLocaleLowerCase()?.includes(searchText.trim())
            "
          >
            <td>{{ i + 1 }}</td>
            <td>
              <div class="flex items-center space-x-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img src="{{ user.profilePic }}" alt="Avatar" />
                  </div>
                </div>
                <div>
                  <div class="font-medium">{{ user.name }}</div>
                </div>
              </div>
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.mobile }}</td>
            <th>
              <ng-container *ngIf="user.ban">
                <button
                  (click)="blockUser(user._id!)"
                  class="btn btn-sm bg-primary text-gray-100 hover:bg-gray-200 hover:text-primary"
                >
                  <i class="fa-solid fa-unlock"></i> Unblock
                </button>
              </ng-container>
              <ng-container *ngIf="!user.ban">
                <button
                  (click)="blockUser(user._id!)"
                  class="btn btn-sm bg-red-600 text-gray-100 hover:bg-gray-200 hover:text-red-600"
                >
                  <i class="fa-solid fa-ban"></i> Block
                </button>
              </ng-container>
            </th>
          </tr>
        </tbody>
        <!-- foot -->
        <tfoot>
          <tr>
            <th>N.O</th>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Mobile</th>
            <th>Actions</th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div *ngIf="loading$ | async">
      <div
        class="fixed inset-0 flex items-center justify-center rounded-lg bg-black bg-opacity-60 text-primary"
      >
        <span class="loading loading-infinity w-24"></span>
      </div>
    </div>
  </div>
  