<footer class="bg-accent p-10 text-white">
  <div class="mx flex flex-row justify-around md:mx-28">
    <div>
      <img
        src="../../../../assets/images/mainIcon-removebg-preview.png"
        width="70px"
        alt=""
      />
      <p class="mt-2 flex">Wanderplan Ltd.</p>
      <p>
        Website made with <i class="fa-solid fa-heart text-red-500"></i> by
        Ramzi K.M
      </p>
    </div>
    <div>
      <span class="footer-title">Social</span>
      <div class="grid grid-flow-col gap-4 text-2xl">
        <a href="https://github.com/ramzi-km" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a href="https://www.instagram.com/ramzi_k_m" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/ramzi-km/"
          target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="mt-10 flex justify-center text-xs md:text-lg">
    <p>Copyright © 2023 - All right reserved by Wanderplan Ltd</p>
  </div>
</footer>
