<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden py-12"
>
  <div
    class="relative mx-auto w-full max-w-xs rounded-2xl bg-secondary px-6 pb-9 pt-10 shadow-xl md:max-w-lg"
  >
    <div class="mx-auto flex w-full max-w-md flex-col space-y-4">
      <div
        class="flex flex-col items-center justify-center space-y-2 text-center"
      >
        <div class="text-3xl font-semibold">
          <p>Reset Password</p>
        </div>
      </div>
      <div>
        <form [formGroup]="resetPassForm" (ngSubmit)="submitForm()">
          <div class="alert alert-error mt-3 flex h-10" *ngIf="errMessage">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 shrink-0 stroke-current"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
            <span>{{ errMessage }}</span>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">New password</span>
            </label>
            <input
              type="password"
              placeholder="password"
              class="input input-bordered"
              formControlName="password"
            />
            <div
              class="text-sm text-red-500"
              *ngIf="fc['password'].touched && fc['password'].invalid"
            >
              <label *ngIf="fc['password'].errors?.['required']"
                >password is required
              </label>
              <label *ngIf="fc['password'].errors?.['noSpaceValidator']"
                >password will not contain empty spaces</label
              ><label
                *ngIf="
                  fc['password'].errors?.['minlength'] &&
                  !fc['password'].errors?.['noSpaceValidator']
                "
                >password will be atleast six characters</label
              >
              <label
                *ngIf="
                  fc['password'].errors?.['pattern'] &&
                  !fc['password'].errors?.['noSpaceValidator'] &&
                  !fc['password'].errors?.['minlength']
                "
                >password should contain atleast one digit and a letter</label
              >
            </div>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Confirm Password</span>
            </label>
            <input
              type="password"
              placeholder="confirm password"
              class="input input-bordered"
              formControlName="confirmPassword"
            />
            <div
              class="text-sm text-red-500"
              *ngIf="
                fc['confirmPassword'].touched && fc['confirmPassword'].invalid
              "
            >
              <label *ngIf="fc['confirmPassword'].errors?.['required']"
                >this field is required
              </label>
              <label
                *ngIf="fc['confirmPassword'].hasError('mismatchedPasswords')"
                >passwords do not match
              </label>
            </div>
          </div>
          <div class="form-control mt-6">
            <button
              type="submit"
              [disabled]="resetPassForm.invalid"
              class="btn btn-primary text-textp"
            >
              Submit
              <span
                *ngIf="loading"
                class="loading loading-spinner loading-sm mb-1 ml-5 text-textp"
              ></span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
