<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden py-12"
>
  <div
    class="relative mx-auto w-full max-w-xs rounded-2xl bg-secondary px-6 pb-9 pt-10 shadow-xl md:max-w-lg"
  >
    <div class="mx-auto flex w-full max-w-md flex-col space-y-16">
      <div
        class="flex flex-col items-center justify-center space-y-2 text-center"
      >
        <div class="text-3xl font-semibold">
          <p>Email Verification</p>
        </div>
        <div class="flex flex-row text-sm font-medium text-gray-400">
          <p>We have sent a code to your email</p>
        </div>
      </div>

      <div>
        <form #otpForm="ngForm" (ngSubmit)="onSubmit(otpForm)">
          <div class="flex flex-col space-y-10">
            <div class="flex h-16 w-full flex-row justify-center">
              <div class="mb-2">
                <input
                  ngModel
                  class="flex h-full w-full flex-col items-center justify-center rounded-xl border border-gray-200 bg-bgclr px-5 text-center text-lg text-textp outline-none ring-primary focus:ring-1"
                  type="text"
                  #otp="ngModel"
                  maxlength="6"
                  minlength="6"
                  name="otp"
                  required
                />
                <div class="mt-2 flex items-center justify-center">
                  <label class="text-lg text-red-500">{{ errMessage }}</label>
                </div>
              </div>
            </div>

            <div class="flex flex-col space-y-5">
              <div>
                <button
                  type="submit"
                  class="btn btn-primary flex w-full flex-row items-center justify-center"
                  [disabled]="otpForm.invalid"
                >
                  Verify Account
                  <span
                    *ngIf="loading"
                    class="loading loading-spinner loading-sm mb-1 ml-5 text-textp"
                  ></span>
                </button>
              </div>

              <div
                class="flex flex-row items-center justify-center space-x-1 text-center text-sm font-medium text-gray-500"
              >
                <p>Didn't recieve code?</p>
                <a
                  (click)="resendOtp()"
                  class="flex flex-row items-center text-blue-600"
                  >Resend</a
                >
                <span
                  *ngIf="resendLoading"
                  class="loading loading-spinner loading-xs mb-1 text-textp"
                ></span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
